.botonera{
				background-color: #17202A;
        margin-top: 0px;
        height: 92px;
        padding-top:2px;
        width: 100%;
        position: fixed;
}

.boton1{
	background-color: #7FE809;
	width: 80px;
}
.boton1:hover, .boton1:focus, .boton1:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}

.boton2{
	background-color: #FC7158;
	color: #fff;
}
.boton2:hover, .boton2:focus, .boton2:active{
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton3{
	background-color: #FC5173;
}
.boton3:hover, .boton3:focus, .boton3:active{
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton4{
	background-color: #00ccff;
	width: 80px;
}
.boton4:hover, .boton4:focus, .boton4:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton5{
	background-color:#F4D03F;
}
.boton5:hover, .boton5:focus, .boton5:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton6{
	background-color: #CB5BFC;
	width: 80px;
}
.boton6:hover, .boton6:focus, .boton6:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton7{
	background-color: #F4D03F;
	width: 80px;
}
.boton7:hover, .boton7:focus, .boton7:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #666;
}
.boton8{
  background-color: #17202A;
  width: 80px;
}
.boton8:hover, .boton8:focus, .boton8:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #17202A;
  background-color: #17202A;
  color: #666;
}
.boton1, .boton2, .boton3, .boton4, .boton5, .boton6, .boton7, .boton8 {
	text-align: center;
	color: #f2f2f2;
	height: 90%;
	margin-top: 0px;
	padding-top: 20px;
	-webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  display: inline-block;
}

.marquesina{
	  color: #f2f2f2;
    background-color: #17202A;
    height: 60px;
    margin-top: 0px;
    padding-top: 10px;
       }
.marquesina2{
    color: #f2f2f2;
    background-color: #17202A;
    height: 150px;
    margin-top: 0px;
    padding-top: 100px;
    width: 100%;
       }
@media (min-width: 1024px) {
  .marquesina{
    margin-top: 0px;
  }
}
   
.cursos{
    background-color: #fff; 
    background-image: url(fondo5.jpg);
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
    background-attachment: fixed;
    height: 400px;
       }

  .galeria{
  height: 450px;
  position: relative;
  background-image: url(fondo1.png);
  background-attachment: fixed;
  padding-top: 270px;
  background-repeat: no-repeat;
  background-color: #000;
  } 
.footer{
  background-color:  #17202A;
  color: #f2f2f2;
  height: 100px;
}
.cover{
    background-image: url(cover3.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -25px;
    background-size: cover;
  }
  .cover1{
    background-image: url(cover3.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -25px;
    background-size: cover;
  }
